[submodule "NQTR-System.wiki"]
	path = wiki
	url = https://github.com/DRincs-Productions/NQTR-System.wiki.git
	branch = master
[submodule "game/renpy_utility_tool"]
	path = game/renpy_utility_tool
	url = https://github.com/DRincs-Productions/renpy-utility-lib
	branch = renpy-lib
